.Auth{
    margin:20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee;
    padding:10px;
    box-sizing: border-box;
    
  }
  .error{
    background: #dc143ce6;
    color: white;
    padding: 12px;
    border-radius: 7px;
    width: 79%;
    box-sizing: border-box;
    margin: auto;
  }
  @media (min-width) {
    .Auth{
      width: 500px;
    }
  }
  